* {
    padding: 0;
    margin: 0;
}

body {
	font-family: verdana, "sans-serif";
}
.header {
    position: absolute;
    width: 80%;
    height: 50px;
    left: 20%;
    border-bottom: 1px solid #ccc;
}

.header h1 {
    margin: 0 20px;
    line-height: 50px;
    font-weight: normal;
    font-size: 22px;
}

.header h1:before {
    content: "#";
}

.sidebar {
    width: 20%;
    position:absolute;
    left: 0;
    top: 0px;
    bottom: 0px;
    background: #0D4378;

}

.channellist {
    margin: 50px;
    list-style: none;
    font-size: 20px;

}

.channellist a {
    color: white;
    text-decoration: none;
}

.main {
    position:absolute;
    top: 60px;
    bottom:90px;
    right:0;
    left: 20%;
    background: white;
    overflow-y: scroll;
 }

.user-avatar {
    width: 30px;
    display: block;
    float: left;
    padding: 5px 10px;
}

.user-label {
    font-weight: bold;
}

.user-name {
    display: block;
}

.messages li {
    margin-bottom: 15px;
}

.messages {
    list-style: none;
    margin-right: 20px;
}

.message-date {
    color: gray;
}

.message-content {
    margin-left: 50px;
    display: block;
}

.footer {
    background: white;
    position:absolute;
    bottom: 0;
    height: 90px;
    width: 80%;
    left: 20%;
    border-top: 1px solid #ccc  ;
}

.editor {
    margin: 15px;
}

.messagebutton{
}

.messageinput {
    font-size: 16px;
    padding: 2px 5px;
    height: 45px;
    width: 80%;
    display: inline-block;
}
