% rebase('base.html', title='View room')

<h1>{{room.name}}</h1>

<ul class="messages" id="message_list">
  % for message in messages:
    <li data-msg-id="{{message.get_id()}}"><span class="user">{{message.get_owner().name}}</span>: <span class="message">{{message.content}}</span></li>
  % end
</ul>


<form id="message_form" action="/room/{{room.get_id()}}/{{room.slug}}/say" method="POST">
    <input id="message_input" type="text" placeholder="Say something…" name="message">
    <button for="message_form">Enter</button>
</form>

<script type="text/javascript">

var message_list = document.getElementById("message_list");

var form = document.getElementById("message_form");
var message_input = document.getElementById("message_input");

form.addEventListener('submit', function (e) {
    console.log(e);
    e.preventDefault();

    var data = new FormData(form);
    var cid = makeid();
    data.append('client_id', cid);
    var xhr = new XMLHttpRequest();
    xhr.open('POST', form.action, true);

    // TODO: more event callbacks
    xhr.onload = function () {
        message_list.insertAdjacentHTML('beforeend', this.responseText);
        message_input.value = "";
    };
    xhr.send(data);
});

function poller() {
    console.log('poll', get_last_msg_id());
    var lastMsgId = get_last_msg_id();

    var oReq = new XMLHttpRequest();
    oReq.addEventListener("load", handlePollresponse);
    oReq.open("GET", "{{room.get_url()}}/messages/from/" + lastMsgId);
    oReq.send();
}

function handlePollresponse() {
      message_list.insertAdjacentHTML('beforeend', this.responseText);
}

function get_last_msg_id() {
    var list = message_list.getElementsByTagName('li');
    if (list.length) {
        return list[list.length - 1].dataset.msgId;
    } else {
        return 0;
    }
}

function makeid()
{
    var text = "";
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

    for( var i=0; i < 5; i++ )
        text += possible.charAt(Math.floor(Math.random() * possible.length));

    return text;
}

window.setInterval(poller, 3000);
</script>
